.container {
    text-align: center;
}

figure {
    border: 5px solid black;
}

figcaption {
    margin-bottom: 3px;
    font-size: 25px;
}

img {
    width: 300px;
}

td.author {
    width: 20%;
}

td.author {
    font-weight: bold;
    vertical-align: middle;
}



table {
    margin: 5em;
}